@media screen and (max-width: 799px){
   
    textarea{
        margin-left: 2.5vw;
        width: 95vw;
        height: 30vh;
        padding-left: 20px;
        background: transparent;
        border: transparent ;
        border-radius: 10px;
       
    }
    #saved{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2.5vw;
        width: 95vw;
        height: auto;
       
    }
   
}